/* 全局样式表 */
html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}
.el-card {
    margin-top: 15px;
    box-shadow: 0 0 0 rgba(0, 2px, 0, .15) !important;
}
.el-table {
    margin-top: 15px;
}
.el-pagination {
    margin-top: 15px;
}
.el-table {
    font-size: 12px;
}
.ql-editor {
  min-height: 300px !important;
}